* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

nav .logo {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    position: relative;
}

nav ul li a:hover {
    color: #f44336;
    width: 100%;
    /* Highlight color */
}

.fa-bars,
.fa-times {
    display: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
}

.header-text {
    text-align: left;
    padding-top: 100px;
}

.header-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1.2;
}

.header-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

samp {
    color: #f44336;
    /* Highlight color */
}


/* Responsive Styles */

@media (max-width: 768px) {
    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        background: #333;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }
    nav ul li {
        margin: 20px 0;
    }
    nav ul li a {
        font-size: 1.5em;
    }
    .fa-bars,
    .fa-times {
        display: block;
    }
    #sidemenu.open {
        transform: translateX(0);
    }
}


/*---------------------about---------------------------*/

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding-top: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-col-2 {
    flex: 1;
    max-width: 600px;
    margin-left: 30px;
}

.about-col-2 h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-col-2 p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
}

.tab-links:hover,
.tab-links.activ-link {
    color: #ff004f;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul {
    list-style-type: none;
    padding: 0;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}


/*-------------------services----------------------*/

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}


/*-------------------portfolio----------------------*/

body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.portfolio {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.sub-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p {
    margin: 10px 0;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #f3eeee;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer a i {
    color: rgba(181, 29, 201, 0.6)
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}


/*-------------------contact----------------------*/

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact {
    padding: 50px 0;
    background: #000;
    color: #fff;
}

.contact-left,
.contact-right {
    padding: 20px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.sub-title {
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    color: #fff;
    padding: 14px 60px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.5s;
}

.btn.btn2:hover {
    background: #e60045;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #f3ebeb;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

form .btn2:hover {
    background: #e60045;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: #ff004f;
}


/*-------------------css for small screens----------------------*/

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(background.jpg);
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
}